name: "Verify Red Hat images"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  cosign:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download Red Hat signing key
        run: wget -O ~/redhat-sigstore.pub https://security.access.redhat.com/data/63405576.txt

      - name: Install Cosign
        uses: sigstore/cosign-installer@398d4b0eeef1380460a10c8013a76f728fb906ac # v3

      - name: Verify ubi9/openjdk-21-runtime via cosign
        run: cosign verify --key /home/runner/redhat-sigstore.pub --insecure-ignore-tlog=true registry.access.redhat.com/ubi9/openjdk-21-runtime:1.21-1.1741781258@sha256:360822c35c5741f542ab78fe123e6c4d9b68e0113a88d6e0250bb1f377b17f29

  podman:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download Red Hat signing key
        run: wget -O ~/redhat-sigstore.pub https://security.access.redhat.com/data/63405576.txt

      - name: Configure podman policy
        run: |
          cat samples/HOME/.config/containers/policy-ubi9.json
          cat samples/HOME/.config/containers/registries.d/sigstore-registries.yaml

          mkdir -p ~/.config/containers/registries.d
          cp samples/HOME/.config/containers/policy-ubi9.json ~/.config/containers/policy.json
          cp samples/HOME/.config/containers/registries.d/sigstore-registries.yaml ~/.config/containers/registries.d/sigstore-registries.yaml

          podman image trust show

      - name: Pull allowed
        run: podman pull registry.access.redhat.com/ubi9/openjdk-21-runtime:1.21-1.1741781258@sha256:360822c35c5741f542ab78fe123e6c4d9b68e0113a88d6e0250bb1f377b17f29

      - name: Pull disallowed
        continue-on-error: true
        run: podman pull quay.io/podman/hello:latest

      - name: Validate
        id: validate
        run: |
          podman images
          echo "pulled_images=$(podman images --noheading | wc -l)" >> $GITHUB_OUTPUT

      - name: Fail if image pulls not expected value
        if: steps.validate.outputs.pulled_images != 1
        run: |
          echo "Only expect 1 image to be pulled due to policy. Failing."
          exit 1

  buildah:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download Red Hat signing key
        run: wget -O ~/redhat-sigstore.pub https://security.access.redhat.com/data/63405576.txt

      - name: Configure buildah policy
        run: |
          cat samples/HOME/.config/containers/policy-ubi9.json
          cat samples/HOME/.config/containers/registries.d/sigstore-registries.yaml

          mkdir -p ~/.config/containers/registries.d
          cp samples/HOME/.config/containers/policy-ubi9.json ~/.config/containers/policy.json
          cp samples/HOME/.config/containers/registries.d/sigstore-registries.yaml ~/.config/containers/registries.d/sigstore-registries.yaml

          podman image trust show

      - name: Buildah allowed
        run: buildah build -f samples/Dockerfile -t jdk samples/

      - name: Buildah disallowed
        continue-on-error: true
        run: buildah build -f samples/Dockerfile-fail -t fail samples/

      - name: Validate
        id: validate
        run: |
          podman images
          echo "pulled_images=$(podman images --noheading | wc -l)" >> $GITHUB_OUTPUT

      - name: Fail if image pulls not expected value
        if: steps.validate.outputs.pulled_images != 2
        run: |
          echo "Only expect 2 image to be pulled due to policy; localhost/jdk and registry.access.redhat.com/ubi9/openjdk-21-runtime. Failing."
          exit 1

  skopeo:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download Red Hat signing key
        run: wget -O ~/redhat-sigstore.pub https://security.access.redhat.com/data/63405576.txt

      - name: Configure podman policy
        run: |
          mkdir -p ~/.config/containers/registries.d
          cp samples/HOME/.config/containers/policy-ubi9.json ~/.config/containers/policy.json
          cp samples/HOME/.config/containers/registries.d/sigstore-registries.yaml ~/.config/containers/registries.d/sigstore-registries.yaml

          podman image trust show

      - name: Copy allowed
        run: skopeo copy docker://registry.access.redhat.com/ubi9/openjdk-21-runtime@sha256:360822c35c5741f542ab78fe123e6c4d9b68e0113a88d6e0250bb1f377b17f29 dir:/tmp/openjdk-21-runtime

      - name: Copy disallowed
        continue-on-error: true
        run: skopeo copy docker://quay.io/podman/hello:latest dir:/tmp/podman-hello

      - name: Fail if image pulls not expected value
        run: |
          if [ -f /tmp/podman-hello/manifest.json ]; then
            echo "/tmp/podman-hello/manifest.json exists."
            exit 1
          fi

  oc-mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Download Red Hat signing key
        run: wget -O ~/redhat-sigstore.pub https://security.access.redhat.com/data/63405576.txt

      - name: Configure podman policy
        run: |
          mkdir -p ~/.config/containers/registries.d
          cp samples/HOME/.config/containers/policy-ubi9.json ~/.config/containers/policy.json
          cp samples/HOME/.config/containers/registries.d/sigstore-registries.yaml ~/.config/containers/registries.d/sigstore-registries.yaml

          podman image trust show

      - name: Install oc-mirror
        run: |
          wget https://mirror.openshift.com/pub/openshift-v4/x86_64/clients/ocp/latest/oc-mirror.rhel9.tar.gz
          tar -xzvf oc-mirror.rhel9.tar.gz
          chmod +x oc-mirror

          mkdir oc-mirror-data

      - name: oc-mirror allowed
        run: ./oc-mirror --v2 --remove-signatures=false --secure-policy=true --config samples/oc-mirror/imageset.yaml --log-level debug file://$(pwd)/oc-mirror-data

      - name: oc-mirror disallowed
        continue-on-error: true
        run: ./oc-mirror --v2 --remove-signatures=false --secure-policy=true --config samples/oc-mirror/imageset-fail.yaml --log-level debug file://$(pwd)/oc-mirror-data

      - name: Validate
        id: validate
        run: |
          echo "pulled_images=$(tar -tf $(pwd)/oc-mirror-data/mirror_000001.tar | grep "podman/hello" | wc -l)" >> $GITHUB_OUTPUT

      - name: Fail if image pulls not expected value
        if: steps.validate.outputs.pulled_images != 0
        run: |
          echo "podman/hello exists."
          tar -tf $(pwd)/oc-mirror-data/mirror_000001.tar | grep "podman/hello"
          cat $(pwd)/oc-mirror-data/working-dir/logs/oc-mirror.log
          exit 1
